* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #7c899f;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 50px;
    margin-right: 7px;
}

.nav-bar-homepage{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.signup_button_homepage /*   to target a class   */
        {
            background-color:#61DAFB; /* change background color of the button */
            color: 21222A;    /* change text color of the button */
            border: none;  /* removes button border */
        /* height: 36px;   sets height */
        /* width: 105px;  sets width*/
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-radius: 50px; /*rounds the corner of the button*/
            cursor: pointer;  /*adds pointer effect*/
            margin-right: 8px;   /* adds margin to the button towards the right*/
            transition: opacity 0.15s;  /* to add transition effect*/
            vertical-align: top; /*to allign buttom to top*/
        }

        .signup_button_homepage:hover   /* to add transition effect for the hover */
        {
            opacity: 0.8;
        }

        .signup_button_homepage:active  /* to add effect when we click the button*/
        {
            opacity: 0.4;
        }

/* 
Challenge: Place the gray react logo in the background

Don't use an `img` element, but rather set it as the
`background-image` of the `main` element.

Hint: you'll need to use the following properties:
- background-image
- background-repeat
- background-position

(Or the shorthand `background` property with values for all
those other properties)
*/

main {
    padding: 57px 27px;
    color: white;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}
.icon:hover 
{
    color: 61DAFB!important ;
}