.video-container {
    position: relative;
    width: 98%;
    margin: auto;
  }
  
  .fullscreen-video {
    width: 100%;
    height: 87%;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 10px;
  }
  
  .video-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    color: #fff;
    padding: 17px 34px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .video-button {
    bottom: 50px;
  }
.video-button:hover
{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    color: blue;
    background-color: #2575ad; 
}

 
  